body {
    background-color: blanchedalmond;
    height: 100vh;
}

.image-container {
    border-radius: 1rem;
    height: 18.75rem;
    background-size: auto;
    background-image: url('https://backcountryfoodie.com/wp-content/uploads/nut-butter-morning-oats-blog-thumbnail-image-hand.webp');
}

.recipe-content-container {
    width: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 5rem;
    border-radius: 5%;
    padding: 2.50rem;
}

.ingredient-container {
    background-color: #faf3f3;
    padding: 1rem;
    border-radius: 1rem;
}