body {
    background-color: blanchedalmond;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-container {
    border-radius: 1rem;
    height: 18.75rem;
    background-size: auto;
    background-image: url('https://backcountryfoodie.com/wp-content/uploads/nut-butter-morning-oats-blog-thumbnail-image-hand.webp');
}

.recipe-content-container {
    width: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 5rem;
    border-radius: 5%;
    padding: 2.50rem;
}

.intro-message {
    padding-bottom: 2drem;
}

.preptime-container {
    background-color: #faf3f3;
    padding: 0.75rem;
    border-radius: 1rem;
}

.preptime-title {
    color: rgb(105, 2, 66);
    font-size: 1.125rem;
}

.ingredient-title {
    padding-top: 0.75rem;
    color: rgb(101, 15, 15);
    font-size: 1.5rem;
}